{% extends 'tasks/base.html' %}

{% block title %}
Task Manager
{% endblock %}

{% block content %}
    <a href="{% url 'add_task' %}" class="btn btn-primary mb-4 w-100">
        <i class="fa fa-plus-circle"></i>
        &nbsp;&nbsp;Add New Task
    </a>
    <br/>

    <h5>Pending Tasks</h5>
    <hr/>
    {% for task in tasks %}
        <div class="border px-4 py-2 rounded-lg mb-3">
            <form autocomplete="off" method="post" class="d-flex align-items-center">
                {% csrf_token %}
                <div class="custom-control custom-switch actve">
                    <input class="custom-control-input" type="checkbox" name="task_{{ task.id }}"
                           value="1"
                           id="customSwitch{{ task.id }}"
                           {% if task.complete %} checked="" {% endif %} onchange="this.form.submit();" />
                    <input type="hidden" name="task_{{ task.id }}" value="0" />
                  <label class="custom-control-label" for="customSwitch{{ task.id }}"></label>
                </div>
                <button type="button" data-toggle="collapse" data-target="#desc{{ task.id }}" class="btn text-left px-0 flex-grow-1 mx-3" >
                    <span class="ml-4">{{ task.title }}</span>
                </button>
                <small class="ml-auto d-none d-md-block">
                    {% if task.due.timestamp > time %}
                        <i class="fa fa-calendar-o text-primary"></i>
                        {{ task.due }}
                    {% else %}
                        <b class="text-danger"><i class="fa fa-exclamation-circle"></i> DUE</b>
                    {% endif %}
                </small>
            </form>
            <div class="collapse" id="desc{{ task.id }}">
                <hr/>
                <div class="ml-auto mb-2 d-md-none">
                    <i class="fa fa-calendar-o text-primary"></i>
                    &nbsp;{{ task.due }}<br/>
                </div>
                <p>{{ task.description }}</p>
                <a href="{% url 'delete' task.id %}" onclick="event.preventDefault(); e = this; bootbox.confirm('Are you sure, you really want to delete this task?', function(f){ if( f ) { location.href = e.href; } });" class="btn btn-danger btn-sm mb-3">
                    Delete this task
                </a>
            </div>
        </div>
    {% endfor %}

    <br/>
    <h5>Completed Tasks</h5>
    <hr/>
    {% for task in completed %}
        <div class="border px-4 py-2 rounded-lg mb-3">
            <form autocomplete="off" method="post" class="d-flex align-items-center">
                {% csrf_token %}
                <div class="custom-control custom-switch actve">
                    <input class="custom-control-input" type="checkbox" name="task_{{ task.id }}"
                           value="1"
                           id="customSwitch{{ task.id }}"
                           {% if task.complete %} checked="" {% endif %} onchange="this.form.submit();" />
                    <input type="hidden" name="task_{{ task.id }}" value="0" />
                  <label class="custom-control-label" for="customSwitch{{ task.id }}"></label>
                </div>
                <button type="button" data-toggle="collapse" data-target="#desc{{ task.id }}" class="btn text-left px-0 flex-grow-1 mx-3" >
                    <span class="ml-4">{{ task.title }}</span>
                </button>
            </form>
            <div class="collapse" id="desc{{ task.id }}">
                <hr/>
                <div class="ml-auto mb-2 d-md-none">
                    <i class="fa fa-calendar-o text-primary"></i>
                    &nbsp;{{ task.due }}<br/>
                </div>
                <p>{{ task.description }}</p>
                <a href="{% url 'delete' task.id %}" onclick="event.preventDefault(); e = this; bootbox.confirm('Are you sure, you really want to delete this task?', function(f){ if( f ) { location.href = e.href; } });" class="btn btn-danger btn-sm mb-3">
                    Delete this task
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}